{% load static %}


<header>

    <input type="checkbox" role="button" class="menu d-lg-none" id="sidebar-toggle">

    <script src="{% static 'yol/style/js/script.js' %}"></script>

    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-main">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <div class="d-flex justify-content-center mb-3 bg-white">
                <img src="{% static 'yol/images/yol-logo.png' %}" width="200"  height="170">
            </div>

          <a href="#" class="list-group-item list-group-item-action py-2">
                <span>پروفایل</span>
          </a>

          <a href="#" class="list-group-item list-group-item-action py-2">
                <span>ثبت اعلام بار</span>
          </a>

          <a href="#" class="list-group-item list-group-item-action py-2">
            <span>اعلام بار های ثبت شده</span>
          </a>

          <a href="#" class="list-group-item list-group-item-action py-2">
            <span>گزارشات</span>
          </a>

            <a href="#" class="list-group-item list-group-item-action py-2 mt-5 text-info" >
            <span>خروج از حساب کاربری</span>
            </a>



          
        </div>
      </div>
    </nav>

    
  </header>

