{% extends "base-yuk.html" %}

{% load static%}

{% block title %}
    پروفایل 
{% endblock %}

{% block content %}
    <h5 class="text-end border-bottom py-2 mb-4">پروفایل</h5>
    
    <div class="container">
        <div class="d-flex justify-content-center  mb-4">
            <img src="{% static 'yol/images/person.png' %}" alt="Profile picture" class="rounded-circle border" width="200" height="200">
        </div>

        <form>
            <fieldset disabled>
                <div class="mb-3">
                <label for="username" class="form-label">نام کاربری</label>
                <input type="text" class="form-control" id="username" placeholder=" ">
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                    <label for="firstname" class="form-label">نام</label>
                    <input type="text" class="form-control" id="firstname" placeholder=" " >
                    </div>

                    <div class="mb-3 col-md-6">
                    <label for="lastname" class="form-label">نام خانوادگی</label>
                    <input type="text" class="form-control" id="lastname" placeholder=" ">
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="email" class="form-label"> پست الکترونیکی</label>
                  <input type="email" class="form-control" id="email" placeholder=" ">
                </div>
    
                <div class="mb-3 col-md-6">
                  <label for="phone" class="form-label">تلفن همراه</label>
                  <input type="text" class="form-control" id="phone" placeholder=" ">
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-md-6">
                  <label for="password" class="form-label">تغییر رمز عبور</label>
                  <input type="password" class="form-control" id="password" placeholder=" " >
                </div>
                
                <div class="mb-3 col-md-6">
                  <label for="password" class="form-label">تأیید رمز عبور</label>
                  <input type="password" class="form-control" id="password" placeholder=" " >
                </div>
            </div>
            
            <div class="d-grid">
              <button type="submit" class="btn btn-info">ذخیره تغییرات</button>
            </div>
          </form>
        
    </div>


{% endblock %}