{% extends "base-yuk.html" %}

{% load static%}

{% block title %}
    ثبت آگهی اعلام بار 
{% endblock %}


{% block content %}
    <h5 class="text-end border-bottom py-2 mb-4">ثبت آگهی اعلام بار</h5>

    <p class="mb-4">اطلاعات مربوطه را به درستی وارد کنید</p>

    <form>

        <div class="mb-3 col-md-6">
            <label for="title" class="form-label">عنوان</label>
            <input type="text" class="form-control" id="title" placeholder="عنوان آگهی را وارد کنید">
        </div>

        <div class="mb-3 col-md-6">
            <label for="description" class="form-label">توضیحات</label>
            <textarea class="form-control" id="description" rows="5" placeholder="توضیحات مربوطه را وارد کنید"></textarea>
        </div>

        <div class="mb-3 col-md-3">
            <label for="freight" class="form-label">کرایه حمل</label>
            <input type="number" class="form-control" id="freight" placeholder="تومان">
        </div>

        <div class="mb-3 col-md-6">
            <label for="route" class="form-label">انتخاب مبدا و مقصد</label>
            <br>
            <a href="/yuk/route" class="btn btn-info">ثبت</a>
        </div>

        <h5 class="my-5">اطلاعات بار</h5>
        
        <div class="mb-3 col-md-6">
            <label for="type" class="form-label">نوع بار</label>
            <input type="text" class="form-control" id="type" placeholder="مثال: میوه و تره بار">
        </div>

        <div class="mb-3 col-md-3">
            <label for="weight" class="form-label">وزن بار</label>
            <input type="number" class="form-control" id="weight" placeholder="کیلوگرم">
        </div>

        <div class="mb-3 col-md-3">
            <label for="vlaue" class="form-label">ارزش تقریبی بار</label>
            <input type="number" class="form-control" id="value" placeholder="تومان">
        </div>

        <div class="mb-3 col-md-3">
            <label for="dimention" class="form-label">مختصات و اندازه بار</label>
            <input type="text" class="form-control" id="dimention" placeholder="مثال: 1*3 متر">
        </div>

        <div class="mb-3 col-md-6">
            <label for="instruction" class="form-label">دستور العمل های خاص</label>
            <textarea class="form-control" id="instructions" rows="5"></textarea>
            <p class="text-danger pt-2"><b>چنانچه دستورالعمل خاصی هنگام حمل، بارگیری و تخلیه لازم است که اجرا شود، در اینجا ذکر کنید</b>. </p>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-outline-info">انتشار آگهی</button>
        </div>
        
    </form>



{% endblock %}